
<div class="gradient-box">
  <ul>
    <li>Name: {{model.name}}</li>
    <li>Email: {{model.email}}</li>
    <li>Total games played: {{model.total_number_games}}</li>
    <li>Total locations visited: {{model.total_locations_visited}}</li>
    <li>Total clues used: {{model.total_clues_used}}</li>
  </ul>
</div>

{{outlet}}
