<div class='img-background'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 gradient-box'>
        <h3>Log In</h3>
        <% if flash[:alert] %>
          <p><%= flash[:alert] %></p>
        <% end %>
         <%= form_for(:session, url: login_path) do |f| %>

              <%= f.label :email %><br>
              <%= f.text_field :email %><br>



              <%= f.label :password %><br>
              <%= f.password_field :password %><br><br>

              <p>
                <%= f.submit "Log in", class: "cstm-guess-button" %>
              </p>
            <% end %>
      </div>
      <div class='col-xs-9'>
      </div>
    </div>
  </div>
</div>
