<%= render :partial => 'layouts/header', locals: {loggingin: true} %>

<h3>Login</h3>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
 <%= form_for(:session, url: login_path) do |f| %>
      <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
      </p>

      <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
      </p>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

