<body class="user_show" style="background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTjxXDLfoby43IKeMC8sAaaygIkuQaycDSZ8LNlFg7sINHi5f715A')">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class='top'>
					<div class='slide-left'>
						<div class="gradient-box user_name">
							<h2><%=@user.name%></h2>
							<p><%=@user.email%></p>
						</div>
						<div class="gradient-box">
							<% if @userviewobject.game_in_progress? %>
								<%= form_for @game, url: url_for(controller: 'locations', action: 'continue'), method: 'get', html: {class: 'continue'} do |f| %>
									<%= f.submit "Continue last game", class: 'button' %>
								<% end %>
							<% else %>
								<%=form_for @game do |f| %>
									<%f.submit "Start a new game", class: 'button' %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div id='gamesList' class="col-sm-3 center-block">
				<div class="gradient-box top-list	center-block">
					<ul class='left-block'>
					<% @user.games.each_with_index do |game| %>
							<li>
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary left-block" data-toggle="modal" data-target="#myModal<%= game.id%>">
								  Date: <%= game.truncated_date %>
								</button>

								<!-- Modal -->
								<div class="modal fade" id='myModal<%= game.id%>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">Game date: <%= game.truncated_date %></h4>
								      </div>
								      <div class="modal-body">
								        <strong>Score:</strong> <%= game.score %><br><br>
								        <ul>
								        <% game.locations.each do |location| %>
								          <li class='tiny-text'>
								            <span><strong><%= location.name %></strong><span><br><span class='center-info'><img height="100" width="175" src="<%= location.img_url %>"></span><br><br>
								          </li>
								        <% end %>
								        </ul>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								  </div>
								</div>
							</li><br><br>
					<% end %>
				</div>
			</div>
			<div class='col-xs-5'>
				<div class="gradient-box game-show top">
					<div class='user-stats'>
						<p>
							Total games played: <%= @userviewobject.total_games_response %>
						</p>
						<p>
							Total locations visited: <%= @userviewobject.total_locations_response %>
						</p>
						<p>
							Total clues used: <%= @userviewobject.total_clues_response %>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</body
