<div class="user_show">
	<div class="container">

		<div class="row">

			<div class="col-xs-4">
				<div class='top'>
					<div class='slide-left'>
						<div class="gradient-box user_name">
							<h2><%=@user.name%></h2>
							<p><%=@user.email%></p>
							<p><button>Past games</button></p>
						</div>
						<div class="gradient-box">
						<%=form_for @game do |f| %>
							<%f.submit "Start a new game"%>
						<%end%>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="gradient-box top-list">
					<ul>
					<% @user.games.each do |game| %>
						<li>Game: <%= game.truncated_date %></li>
					<% end %>
				</div>
			</div>
			<div class='col-xs-5'>
				<div class="gradient-box top">
					<% @user.games.each do |game| %>
						<%= render partial: 'games/game', locals: {game: game} %>
					<% end %>
				</div>
			</div>

		</div>
	</div>
</div>
