<body class="user_show">
	<div class="container">

		<div class="row">

			<div class="col-xs-4">
				<div class='top'>
					<div class='slide-left'>
						<div class="gradient-box user_name">
							<h2><%=@user.name%></h2>
							<p><%=@user.email%></p>
							<p><button class='button past-games'>show/hide games</button></p>
						</div>
						<div class="gradient-box">
							<% if @userviewobject.game_in_progress? %>
								<%= form_for @game, url: url_for(controller: 'games', action: 'continue'), method: 'get', html: {class: 'continue'} do |f| %>
									<%= f.submit "Continue last game", class: 'button' %>
								<% end %>
							<% else %>
								<%=form_for @game do |f| %>
									<%f.submit "Start a new game", class: 'button' %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="gradient-box top-list games-list fade-in-item">
					<ul>
					<% @user.games.each_with_index do |game| %>
						<p>
							<%= form_for game, url: url_for(controller: 'games', action: 'show'), method: 'get', html: {class: 'game-form'} do |f| %>
								<%= f.submit game.truncated_date, class: 'button' %>
							<% end %>
						</p>
					<% end %>
				</div>
			</div>
			<div class='col-xs-5'>
				<div class="gradient-box game-show top">
					<div class='user-stats'>
						<p>
							Total games played: <%= @userviewobject.total_games_response %>
						</p>
						<p>
							Total locations visited: <%= @userviewobject.total_locations_response %>
						</p>
						<p>
							Total clues used: <%= @userviewobject.total_clues_response %>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</body
