<body>

	<link href='https://fonts.googleapis.com/css?family=Meddon|IM+Fell+English' rel='stylesheet' type='text/css'>
	
	<div class="container cstm-font">

	<div class='row'>

		<div class="col-md-3 gradient-box">
			<h2><%=@user.name%></h2>
			<p><%=@user.email%></p><br>
			<div class='cstm-usershow-button'>
				<% if @userviewobject.game_in_progress? %>
					<%= form_for @game, url: url_for(controller: 'locations', action: 'continue'), method: 'get', html: {class: 'continue '} do |f| %>
						<%= f.submit "Continue last game"%>
					<% end %>
				<% else %>
					<%=form_for @game do |f| %>
						<%f.submit "Start a new game"%>
					<% end %>
				<% end %>
			</div><br>
			<% if @user.admin %>
				<%= button_to "Admin panel", "/admin/users", :method => "get", class: 'cstm-admin-button' %>
			<% end %>
		</div>

		<div class="col-md-3 gradient-box col-md-offset-1">
			<h2>Past games
			</h2>
				<ul class='center-block'>
				<% @user.games.each_with_index do |game| %>
						<li class='center-block'>
							<!-- Button trigger modal -->
							<!-- <div class='cstm-guess-button'> -->
							<button type="button" class='cstm-gameslist-button' data-toggle="modal" data-target="#myModal<%= game.id%>">
							  Game date: <%= game.truncated_date %>
							</button>
							<!-- </div> -->

							<!-- Modal -->
							<div class="modal fade" id='myModal<%= game.id%>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">Game date: <%= game.truncated_date %></h4>
							      </div>
							      <div class="modal-body">
							        <strong>Score:</strong> <%= game.score %><br><br>
							        <ul>
							        <% game.locations.each do |location| %>
							          <li class='tiny-text'>
							            <span><strong><%= location.name %></strong><span><br><span class='center-info'><img height="100" width="175" src="<%= location.img_url %>"></span><br><br>
							          </li>
							        <% end %>
							        </ul>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
						</li><br><br>
				<% end %>
				</ul>
		</div>

		<div class='col-md-4 col-md-offset-1 gradient-box'>
				<div class='user-stats'>
					<h2>Stats</h2>
					<p>
						<strong>Total games played:</strong><br> <%= @userviewobject.total_games_response %>
					</p>
					<p>
						<strong>Total locations visited:</strong><br> <%= @userviewobject.total_locations_response %>
					</p>
					<p>
						<strong>Total clues used:</strong><br> <%= @userviewobject.total_clues_response %>
					</p>
				</div>
			</div>
		</div>
</div>
</body>