<div class="container">
  <div class="top-bar">
  <h3>List of all users</h3>
      <% @users.each do |user| %>
        <% @adminviewobject = AdminViewObject.new(user) %>
        <ul>
        <li><h4><%= user.capitalize_name %></h4></li>
        <li>Email: <%= user.email %></li>
        <li class='bold'>Total games played:</li>
        <li><%= @adminviewobject.total_games_played_response %></li>
        <li class='bold'>Average clues per game:</li>
        <li><%= @adminviewobject.average_clues_per_game_response %></li>
        <li class='bold'>Average clues per location:</li>
        <li><%= @adminviewobject.average_clues_per_location_response %></li>
        <li class="delete"><%= link_to "Delete this user", admin_user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %></li>
        </ul>
      <% end %>

  </div>
</div>
