<% @adminviewobject = AdminViewObject.new %>
<div class="container">
  <div class="top-bar">
  <h3>Overall Stats</h3>
    <ul>
      <li class='bold'>Player with the most locations:</li> <%= @adminviewobject.user_with_most_locations %>
      <li class='bold'>Most played location:</li> <%= @adminviewobject.most_used_location_across_games %>
      <li class='bold'>Clue revealed most often:</li> <%= @adminviewobject.most_used_clue_across_all_games %>
      <li class='bold'>Player with most games:</li> <%= @adminviewobject.user_with_most_games %>
    </ul>
  <h3>User Stats</h3>
    <% @users.each do |user| %>
      <ul>
        <li><h4><%= user.capitalize_name %></h4></li>
        <li>Email: <%= user.email %></li>
        <li class='bold'>Total games played:</li>
        <li><%= @adminviewobject.total_games_played_response(user) %></li>
        <li class='bold'>Average clues per game:</li>
        <li><%= @adminviewobject.average_clues_per_game_response(user) %></li>
        <li class='bold'>Average clues per location:</li>
        <li><%= @adminviewobject.average_clues_per_location_response(user) %></li>
        <li class="delete"><%= link_to "Delete this user", admin_user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %></li>
      </ul>
    <% end %>

  </div>
</div>
