	<div id="cstm-nav-bar">
	</div>

	<p class="name" id="<%=@location.name%>"></p>

	<div id="cstm-display">

		<div id="cstm-column-left">

			<div id="cstm-image-div">
				<img id="cstm-image" src="<%= @location.img_url %>"/>
			</div>
			<div id="cstm-guess-div">
				<h3 style="padding-left:25%">What country is this?</h3>
				<h3 style="text-align:right; padding-right:30%">Take a guess...</h3>
				<div id="cstm-guess-inputs">
					<div id="cstm-guess-field">
						<%= form_tag url_for(action: 'score'), method: 'post', id: 'make_guess' do %>
							<%= text_field_tag :name %>
							<%= hidden_field_tag :score, 60 %>
					</div>
					<div id="cstm-guess-button">
							<%= submit_tag "GUESS" %>
						<% end %>
					</div>
				</div>
				</div>
		</div>

		<div id="cstm-column-right">
			<%= form_for @clue, html: {id: 'reveal-clue'}, method: 'post' do |f| %>
				<%= f.hidden_field :location_id, :value => @location.id %>
			<div class="cstmRevealClueButtonDiv">
				<%= f.submit "Click to Reveal a Clue" %>
			</div>
				<% end %>

			<div class="clues">
				<% if @clues %>
					<% @clues.each do |clue| %>
						<div class="cstmCluesDiv">
							<p><%= clue.datatype.lead_in %><%= clue.data %></p>
						</div>
					<% end %>
				<% end %>
			</div>
<!-- 
<p>Game score: <%= current_game.score %></p>
<p class="name" id="<%=@location.name%>"> <%=@location.name%> </p> -->

		</div>

	</div>
