<div class="location_show" style="background-image:url('<%= @location.img_url %>')">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class='slide-left'>
					<div class="gradient-box top button-div" style="width:300px;height:150px;">
						<div style='opacity:1.0;'>
							<div id='where-to'>Where are you headed?
								<p class='tinier-text'>(doubleclick)</p>
							</div>

							<div id ='guess-div'>
								<%= form_for @location, url: url_for(controller: 'locations', action: 'score'), html: {id: 'make_guess'}, method: 'post' do |f| %>
									<%= f.text_field :name, value: "" %>
									<%= f.submit "guess" %>
								<% end %>
								<!--<input type='text' name='user-guess'>
								<button id='guess-btn'>guess</button>-->
							</div>
							<p class='top-bar'>
								<%= form_for @clue, html: {id: 'reveal-clue'},method: 'post' do |f| %>
									<%= f.hidden_field :location_id, :value => @location.id %>
									<%= f.submit "Reveal Clue" %>
								<% end %>
							</p>
						</div>
					</div>
				</div>
				<div class='gradient-box bottom next-loc-div'>
					<%= form_for @location, url: url_for(controller: 'locations', action: 'create'), method: 'post', html: {id: 'next-location'} do |f| %>
						<input type='hidden' value='0' name='clues-used'>
						<%= f.submit "Where to next?" %>
					<% end %>
				</div>
		</div>
		<div class="col-xs-3">
			<div class="name middle" id="<%=@location.name%>">
			</div>
		</div>
		<div class='col-xs-5'>
			<ul class="clues top">
			</ul>
		</div>
	</div>
</div>
