<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class='top-bar'>
      <span class='logo'>Ge<img height='20' width='20' src='http://iconizer.net/files/WPZOOM_Developer_Icon_Set/orig/globe-1.png'>gamer</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>

    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <div class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <p class ='top-bar'>
            <% if current_game %>
            <span>Score: <%= current_game.score %>&nbsp;&nbsp;&nbsp;</span>
            <% end %>
            <span>
                Welcome, <%= current_user.name %>!&nbsp;&nbsp;&nbsp;
            </span>
            <span><%= link_to "Log Out", logout_path %>&nbsp;&nbsp;&nbsp;</span>
          </p>
        <% else %>
          <p class ='top-bar'>
            <span><%= link_to "Log In", login_path %>&nbsp;&nbsp;&nbsp;</span>
            <span><%= link_to "Sign Up", signup_path %>&nbsp;&nbsp;&nbsp;</span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
