<!DOCTYPE html>
<html>
<head>
  <title>Geogamer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Meddon|IM+Fell+English' rel='stylesheet' type='text/css'>
</head>
<body style="background-image:url('http://images.fineartamerica.com/images-medium-large-5/map-of-the-world-map-sepia-watercolor-michael-tompsett.jpg')">

  <%= render :partial => 'layouts/header' %>
  <%= yield %>

</body>
</html>
